h2{
display: flex;
font-size: 12px solid ;
color : red;
border: 1px solid red; 
border-radius: 5px;
justify-content: center;
width: 100px;

};

.offer-details{

font-size: 8px;
color: royalblue;
margin-left: 5px;


};
.description{

    margin-left: 10px;
    color: green;
   

};

.price{

    font-size: 10px;
    color: green;
    

};

